html{
    padding: 0;
    margin: 0;
}

:root{
    --body-color: rgb(73, 73, 73);
    --body-font-size: 36px;
}

.content{
    width: 100vw;
    height: 100vh;
}

div{
    padding: 0;
    margin: 0;
}

p{
    color: grey;
    font-size: var(--body-font-size);
}

form{
    color: var(--body-color);
    font-size: var(--body-font-size);
}

.background-container{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.splash-img{
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.logo{
    color: white;
    position: fixed;
    font-size: 64px;
    background-color: rgba(107, 93, 93, 0.6);
    width: 100vw;
    height: 10%;
    margin: 0;
    top: 20%;
    padding-left: 5%;
    padding-top: 2.5%;
}

.content-container{
    margin: 0;
    position: fixed;
    background-color: black;
    width: 60%;
    height: 100vh;
    left:40%;
}

.para-container{
    position: absolute;
    top: 10%;
    margin: 50px;
}

.form-container{
    display: inline-block;
}

.main-form{
    background-color: grey;
    display: inline-block;
    position: absolute;
    top: 30%;
    margin: 0;
    margin-top: 20px;
    padding: 50px;
    width: 100%;
}

.create-btn{
    position: absolute;
    top: 80%;
    margin: 50px;
}