.grid-container{
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(16,1fr); 
    grid-auto-rows: minmax(6.25%, auto);
    width: 1024px; 
    height: 980px;
    align-items: center; 
    justify-items: center; 
}

.grid-square{
    border: .01px black solid; 
    width: 100%; 
    height: 100%; 
    margin: 0px; 
    padding: 0px;
    align-items: center;
}

.btn-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.clear-btn{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 2rem;
    width: 25%;
    text-align: center;
}